.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 3em;
}
.cartBotton{
    background-color: white;
    border-radius: 10%;
}
.botones{
    width: 30vh;
    background-color: blue;
    color: white;
    border: none;
}
.botones:hover{
    border: 1px solid black;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}